<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel='stylesheet' th:href="@{/style.css}">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body class="w3-theme-l5">

    <!-- Navbar -->
    <div th:fragment="header">
        <div class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
                <a href="#" ><span class="w3-bar-item w3-padding-large w3-theme-d4"><i class="fas fa-chalkboard-teacher w3-margin-right"></i>The LT Project QA System</span></a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large">Find Answers</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large">Evaluate Methods</a>
            </div>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-top w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large" style="margin-top:51px">
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Item 1</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Item 2</a>
        </div>
    </div>


    <!-- Footer -->
    <div th:fragment="footer">
        <footer class="w3-container w3-theme-d3">
            <p>©2019</p>
        </footer>
    </div>

    <script th:fragment="scripts">
    </script>

</body>
</html>
