<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WikiHow QA</title>
    <!--/*/<th:block th:include="fragments/general :: headerfiles"></th:block> /*/-->
</head>
<body class="w3-theme-l5">
    <!-- Navbar -->
    <div th:include="fragments/general :: header"></div>

    <!-- Content -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

    <div id="expertsearch" class="w3-row">
        <div class="w3-col m7" style="margin:auto; float:none;">
            <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                    <!--<h6 class="w3-opacity">Search for Experts</h6>-->
                    <form th:action="@{/}" th:object="${query}" method="post">
                        <p class="w3-large" style="margin-top: 8px;">
                            <input th:field="*{topic}" class="w3-input w3-border" type="text"></p>
                        <p>
                            <label class="w3-text-theme" th:inline="text"><b>Method</b></label>
                            <select class="w3-select w3-border" style="background:white" name="option">
                                <option>Cheating</option>
                                <option>TextRank</option>
                                <option>Neural Network</option>
                            </select>
                        </p>
                        <p style="margin-bottom: 6px;">
                            <button name="redirectTo" type="submit" class="w3-button w3-theme"><i class="fa fa-search"></i>  Search</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${result}">
        <div class="w3-row" style="margin-top: 16px;">
            <div class="w3-col m12">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">
                        <h2 th:text="${result.getTitle()}"></h2>
                        <h4>Target Summary:</h4>
                        <ul>
                            <li th:each="answer : ${result.getSummary()}" th:text="${answer}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-row" style="margin-top: 16px;">
            <div class="w3-col m12">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">
                        <h4>Full Article</h4>
                        <p th:text="${result.getArticle()}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-row" style="margin-top: 16px;">
            <div class="w3-col m12">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">
                        <h4>Text-Rank Summary</h4>
                        <p th:text="${wikihowtextrank}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-row" style="margin-top: 16px;">
            <div class="w3-col m12">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">
                        <h4>Network Summary</h4>
                        <p th:text="${wikihownetwork}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Footer -->
    <div th:replace="fragments/general :: footer"></div>

    <!-- Scripts -->
    <script th:replace="fragments/general :: scripts"></script>
</body>
</html>
